header {
  padding: 30px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: lowercase;
  .header__logo {
    color: $red;
    font-family: "Pixelify Sans", cursive;
    font-size: 70px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    .header__image {
      display: none;
    }
    &:hover {
      .header__image {
        display: inline;
        color: white;
      }
      .header__title,
      .fab.fa-youtube {
        display: none;
      }
    }
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      margin-left: 30px;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
    }
    i {
      font-size: 16px;
    }
  }
  .header__btn {
    background-color: white;
    color: $bg;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .header__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}
