extends base.pug

block content 
    if errorMessage
        span=errorMessage
    form(method="POST")
        input( placeholder="Title",type="text", required, name="title", maxlength=80)
        input(placeholder="Description",type="text", required, name="description", minlength=20)
        input(placeholder="Hashtags, separated by comma.",type="text", required, name="hashtags")
        input(type="submit", value="Upload Video")