extends ../base

block content 
    if errorMessage
        span=errorMessage
    form(method="POST")
        input(placeholder="Old password", type="password", name="oldPassword")
        input(placeholder="New password", type="password", name="newPassword")
        input(placeholder="New password Confirmation", type="password", name="newPasswordConfirmation")
        input(value="Change Password" type="submit")